html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  /* Set your content font stack here: */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
  background: #eee;
  background: fixed linear-gradient(to bottom, #eee 80%, #a0c7c3 100%);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #619f98;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-size: 16px;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
  color: #333;
  padding: 1em 0.5em;
  word-wrap: break-word;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
  clear: both;
}
.page-header {
  padding: 0 1em;
}
.page-header h1 {
  margin: 0;
  line-height: 1.2;
}
.page-header-profile {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}
.page-header-profile img {
  width: 2.5em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.text-right {
  text-align: right;
}
.text-small {
  font-size: 0.8em;
}
.text-accent {
  color: #619f98;
}

.update {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  margin: 1.5em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.2s;
}

.update-list {
  margin-top: -0.5em;
}

.update:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.update-body {
  padding: 1em;
}

.update--selected {
  border-color: #619f98;
}
.update-content img {
  border-radius: 5px;
  margin-top: 1.5em;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
  max-width: calc(100% + 1em);
}
.update-content > *:last-child {
  margin-bottom: 0;
}
.update-content > *:first-child {
  margin-top: 0;
}

.update-footer,
.update-header {
  background-color: #f3f3f3;
  font-size: 0.8em;
  padding: 0.5em 1em;
  color: #666;
}
.update-header {
  border-radius: 5px 5px 0 0;
}
.update-footer {
  border-radius: 0 0 5px 5px;
}
.update-footer-links a {
  display: inline-block;
  padding-left: 0.8em;
}

.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in-out;
}

.link-box {
  display: block;
  border: 1px solid #eee;
  font-size: 0.8em;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: border 0.2s ease-in-out;
  margin-top: 1.5em;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
  width: calc(100% + 1em);
}
.link-box img {
  border-radius: 5px;
}
.link-box:hover {
  border-color: #619f98;
}
.link-box-title {
  margin: 0;
}
.link-box-content,
.link-box-img {
  padding: 1em;
}
.replies-button {
  position: relative;
  cursor: pointer;
  margin-right: 0.5em;
}
.replies-button input {
  display: none;
}
.replies-button svg {
  transition: fill 0.2s ease-in-out;
  fill: #888;
}
.replies-button:hover svg {
  fill: #333;
}
.replies-button input:checked + svg {
  fill: #619f98;
}
.replies-button span {
  position: absolute;
  background: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  white-space: nowrap;
  border-radius: 5px;
  right: 0;
  bottom: 180%;
  margin-top: 5px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  transform: translateY(5px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.replies-button:hover span {
  opacity: 1;
  transform: translateY(0);
}
.replies-button span:before {
  position: absolute;
  top: 100%;
  right: 10px;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-top-color: #333;
}
