body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, 'Droid Sans', 'Helvetica Neue', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 2em 0;
  padding: 0;
  clear: both;
}
